%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#electron-popup-frame {
    position: fixed;
    background-color: var(--background);
    height: 30px;
    top: 0;
    right: 0;
    display: flex;
    z-index: 100;
    margin-top: -30px;
    transition: 300ms;

    &.active {
        margin-top: 0 !important;
    }

    &.windows-style {
        >.frame-button {
            width: 45px;
            height: 100%;
            @extend %flex-center;

            &:hover {
                background-color: var(--background-button-hover);

                :last-child {
                    background-color: var(--red);
                }
            }

            svg {
                width: 20px;
                height: 20px;
                margin: auto;

                >* {
                    fill: var(--svg-icons-color)
                }
            }
        }
    }

    &.macos-style {
        box-sizing: content-box;
        top: 0;
        left: 0;
        right: auto;
        height: max-content;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 3px 4px;
        gap: 5px;

        // border: 1px solid white;

        &.active {
            top: 5px;
            left: 5px;
        }

        .frame-button {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-self: center;
            margin: 0;
            @extend %flex-center;
        }

        >#expand {
            background-color: var(--green);
            order: 2;

            >svg {
                opacity: 0.65;
            }
        }

        >#close {
            background-color: var(--red);
            order: 0;
        }

        >#minimize {
            background-color: var(--yellow);
            order: 1;
        }
    }
}