%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#electron-popup-frame {
    position: fixed;
    background-color: var(--background) !important;
    height: 30px;
    top: 0;
    right: 0;
    display: flex;
    z-index: 100;
    margin-top: -30px;
    transition: 300ms;

    &.active {
        margin-top: 0 !important;
    }

    &.windows-style {
        >.frame-button {
            margin: 0;
            width: 45px;
            height: 100%;
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            border-radius: 0;
            @extend %flex-center;

            &:hover {
                background-color: var(--background-button-hover) !important;
                border: none !important;

                :last-child {
                    background-color: var(--red) !important;
                }
            }

            svg {
                width: 20px;
                height: 20px;
                margin: auto;

                >* {
                    fill: var(--svg-icons-color) !important;
                }
            }
        }
    }

    &.macos-style {
        box-sizing: content-box;
        top: 0;
        left: 0;
        right: auto;
        height: max-content;
        border-radius: 14px;

        padding: 3px 4px;
        gap: 5px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        &.active {
            top: 5px;
            left: 5px;
        }

        .frame-button {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-self: center;

            border: none;
            margin: 0;
            padding: 0;

            @extend %flex-center;
        }

        >#expand {
            background-color: var(--green) !important;
            order: 2;
        }

        >#close {
            background-color: var(--red) !important;
            order: 0;
        }

        >#minimize {
            background-color: var(--yellow) !important;
            order: 1;
        }
    }
}