#electron-frame * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.disable {
  opacity: 0.4;
}

#electron-frame.dark {
  --background: #1e1e1e;
  --background-button-hover: #505050;
  --color: #ddd;
  --svg-icons-color: #ccc;
  --svg-icons-color-hover: #ccc;
}

#electron-frame.light {
  --background: #fff;
  --background-button-hover: #ddd;
  --color: #1e1e1e;
  --svg-icons-color: #555;
  --svg-icons-color-hover: #555;
}

#electron-frame>.right div:hover {
  background-color: var(--background-button-hover);
}

#electron-frame>.right div svg>* {
  fill: var(--svg-icons-color)
}

#electron-frame>.right div svg:hover>* {
  fill: var(--svg-icons-color-hover)
}

#electron-frame {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  margin: 0;
  padding: 0 0 0 2px;
  font-size: 15px;
  user-select: none;
  background-color: var(--background);
  color: var(--color);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#electron-frame .left, #electron-frame .left #window-icon, #electron-frame>.right div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#electron-frame .left #window-icon:not(:empty) {
  width: fit-content;
  height: fit-content;
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

#electron-frame .left #window-icon>img {
  max-width: 20px;
  max-height: 20px;
}

#electron-frame .left #window-name {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

#electron-frame>.right {
  display: flex;
  height: 100%;
}

#electron-frame>.right div {
  -webkit-app-region: no-drag;
  margin: 0;
  width: 45px;
  height: 100%;
}

#electron-frame>.right div:hover:last-child {
  background-color: rgba(255, 0, 0, 0.712);
}

#electron-frame>.right div:hover:last-child svg>* {
  fill: #eee;
}

#electron-frame>.right div svg {
  width: 20px;
  height: 20px;
  margin: auto;
}