@import url(./public/fonts/css-import/Nunito-Regular.css);

#electron-frame,
#electron-popup-frame {
    --background: #fff;
    --background-button-hover: #ddd;
    --color: #1e1e1e;
    --svg-icons-color: #555;
    --svg-icons-color-hover: #555;
    --last-svg-icon-hover: #eee;
    
    &.dark {
        --background: #1e1e1e;
        --background-button-hover: #505050;
        --color: #ddd;
        --svg-icons-color: #ccc;
        --svg-icons-color-hover: #ccc;
        --last-svg-icon-hover: #eee;
    }
}

.macos-style {
    --red: #ef6a5f;
    --green: #5fc554;
    --yellow: #f7c050;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable {
    opacity: 0.4;
}

#electron-popup-frame {
    position: fixed;
    background-color: var(--background);
    height: 30px;
    top: 0;
    right: 0;
    display: flex;
    z-index: 100;
    margin-top: -30px;
    transition: 300ms;

    &.active {
        margin-top: 0 !important;
    }

    &.windows-style {
        &>.frame-button {
            width: 45px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & svg {
                width: 20px;
                height: 20px;
                margin: auto;

                &>* {
                    fill: var(--svg-icons-color)
                }
            }

            &:hover {
                background-color: var(--background-button-hover);

                :last-child {
                    background-color: var(--red);
                }
            }
        }
    }

    &.macos-style {
        top: 0;
        left: 0;
        right: auto;
        height: 25px;
        width: 70px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4px;
        gap: 5px;

        & .frame-button {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-self: center;
            @extend .flex-center;
        }

        &.active {
            top: 5px;
            left: 5px;
        }

        &>#expand {
            background-color: var(--green);
            order: 2;

            &>svg {
                opacity: 0.65;
            }
        }

        &>#close {
            background-color: var(--red);
            order: 0;
        }

        &>#minimize {
            background-color: var(--yellow);
            order: 1;
        }
    }
}

#electron-frame {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    margin: 0;
    padding: 0 0 0 2px;
    font-size: 15px;
    user-select: none;
    background-color: var(--background);
    color: var(--color);
    -webkit-app-region: drag;
    display: flex;

    & * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &>#window-name {
        font-family: "Nunito", Arial, Helvetica, sans-serif;
        align-self: center;
    }

    &>.window-controls {
        display: flex;
        height: 100%;
        -webkit-app-region: no-drag;
    }

    &.windows-style {
        &>.window-controls {
            height: 100%;
            position: absolute;
            right: 0;

            & .frame-button {
                margin: 0;
                width: 45px;
                height: 100%;
                @extend .flex-center;


                & svg {
                    width: 20px;
                    height: 20px;
                    margin: auto;
                }

                & svg>* {
                    fill: var(--svg-icons-color)
                }

                &:hover {
                    background-color: var(--background-button-hover);

                    & svg>* {
                        fill: var(--svg-icons-color-hover)
                    }

                    &:last-child {
                        background-color: rgba(255, 0, 0, 0.712);

                        & svg>* {
                            fill: var(--last-svg-icon-hover);
                        }
                    }
                }

                &.disable:hover svg>* {
                    fill: var(--svg-icons-color)
                }
            }
        }

        &>#window-name,
        >#window-icon {
            justify-self: left;
            align-self: center;
        }

        &>#window-icon {
            &>img {
                max-width: 20px;
                max-height: 20px;
                @extend .flex-center
            }

            &:not(:empty) {
                width: fit-content;
                height: fit-content;
                margin: 0 5px;
                width: 20px;
                height: 20px;
            }
        }
    }

    &.macos-style {
        justify-content: center;

        &>#window-icon {
            display: none;
        }

        &>#window-name {
            justify-self: center;
            order: 1;
        }

        &>.window-controls {
            justify-self: left;
            order: 0;
            position: absolute;
            left: 5px;
            gap: 5px;

            &>.frame-button {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                align-self: center;
                @extend .flex-center;

                &>svg {
                    display: none;
                }
            }

            &:hover>.frame-button>svg {
                display: flex;
                animation: fall 500ms;
            }

            &>#expand {
                background-color: var(--green);
                order: 2;

                &>svg {
                    opacity: 0.65;
                }
            }

            &>#close {
                background-color: var(--red);
                order: 0;
            }

            &>#minimize {
                background-color: var(--yellow);
                order: 1;
            }
        }
    }
}

@keyframes fall {
    0% {
        display: flex;
        opacity: 0;
        transform: translateY(-4px);
    }

    100% {
        display: flex;
        opacity: 1;
        transform: translateY(0px);
    }
}